---
---

@import "{{ site.theme }}";

body {
  font-size: 20px; 
}

#header_wrap {
  background: #34454c;
  header {
    h1 {
      color: #d0f2e3;
      font-size: 60px;
    }
    h2 {
      color: #7c8f9c
    }
  }
}

h1, h2, h3 {
  color: #ae5224;
}
